# Configuration settings
# Update with the PAT for the user DasDeployer is acting on behalf of
# And copy to local_settings.py

# The Azure DevOps Organization to connect to
ORG_URL = 'https://dev.azure.com/azuredevopsexamples'

# The GitHub server to connect to
# Leave this as is unless connecting to a GitHub Enterprise Server instance
GITHUB_URL = 'https://api.github.com'

# The Azure DevOps PAT for a user that has permission to approve releases
PAT = '---INSERT-YOUR-ADO-PAT-HERE-----'

# The GitHub PAT for a user that has permission to read branches from the repo
GITHUB_PAT = '---INSERT-YOUR-GH-PAT-HERE-----'

# The Azure DevOps project where the build and release definitions live
PROJECT = 'website'

# The GitHub repo you are deploying code from
# Will be in form of 'user/repo' or 'org/repo'
REPO = 'das/deployer'

# The build definition IDs for each pipeline
BUILD_PIPELINE_ID = {
    'Dev': 1,
    'Test': 2,
    'Stage': 3,
    'Prod': 4
}
